body {
    font-family: 'Sedan', serif;
    margin: 0;
    padding: 0;
    background-color: #684b4b;
    background-image: url(https://t4.ftcdn.net/jpg/08/07/98/29/360_F_807982928_q197s6P6j1TzMG4hydiLnPfwTNp9I2xq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures body expands to at least the height of the viewport */
}

header {
    background-color: #000000;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

header h1 {
    margin: 0;
    color: #fafafa;
    font-size: 20px;
    margin-left: 4rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px;
    margin-right: 4rem;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fafafa;
    font-size: 20px;
}

nav ul li a:hover {
    color: #b16d6d;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-grow: 1; /* Grow to fill remaining space */
}

section {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

section h2 {
    margin-top: 0;
    color: #333;
    font-size: 28px;
}

section p {
    color: #666;
    font-size: 16px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: linear-gradient(45deg, #6e3c3c, #a05a5a);
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background: linear-gradient(45deg, #a05a5a, #6e3c3c);
    transform: scale(1.05);
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Pushes the footer to the bottom */
}
