/* Basic styles */

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body {
    font-family: 'Sedan', serif;
    margin: 0;
    padding: 0;
    background-color: #684b4b;
    background-image: url(https://png.pngtree.com/background/20230517/original/pngtree-some-bottles-of-perfume-beside-a-mirror-picture-image_2639470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000000;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

header h1 {
    margin: 0;
    color: #fafafa;
    font-size: 20px;
    margin-left: 4rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px;
    margin-right: 4rem;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fafafa;
    font-size: 20px;
}

nav ul li a:hover {
    color: #b16d6d;
}

main {
    padding: 20px;
    flex: 1;
}

.mission-detail {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.mission-detail:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.mission-detail h2 {
    margin-top: 0;
    color: #333;
    font-size: 28px;
}

.mission-detail p {
    color: #666;
    font-size: 16px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
